@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #14151a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 100px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li {

  list-style: none;
  padding: 0 20px;
  position: relative;
}

select {
  color: #f2f8f7;
  background-color: #14151a;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #f6f7f7;
  transition: 0.3 ease;
  width: 50px;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(223, 86, 51);

}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

img {
  height: 50px;
}